/* Navbar */
#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;

}

#navbar ul li a {
    padding: 8px;
    border-bottom: #444 dotted 1px;
}

/* Home Info */
#home-info {
    height: 550px;
}

#home-info .info-img {
    display: none;
}

#home-info .info-content {
    float: none;
    width: 100%;
    padding: 50px 30px;
}

.box {
    float: none;
    width: 100%;
}